n8n/workflow.json
{
  "name": "FADUA - WooCommerce to Google Sheets Sync (n8n)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "id": "7b1b9476-1a19-454b-9834-49ad0a4618dc"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fadua.ar/pruebas/wp-json/wc/v3/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "name": "Get WooCommerce Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        300
      ],
      "id": "b11361a0-3db4-422a-b6f3-950c344a5911",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "stopWorkflow",
      "credentials": {
        "httpBasicAuth": {
          "id": "PLACEHOLDER_WOOCOMMERCE_CRED_ID",
          "name": "WooCommerce API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "n8n"
        },
        "options": {}
      },
      "name": "Get Existing Sheet Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        680,
        300
      ],
      "id": "41602654-efa2-4a88-b01d-2caae5d77572",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "PLACEHOLDER_GOOGLE_SA_CRED_ID",
          "name": "Google Sheets - FADUA"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const products = $('Get WooCommerce Products').all().map((item) => item.json);\nconst existingRows = $('Get Existing Sheet Rows').all().map((item) => item.json);\n\n// Map existing sheet rows by ID (as string) for O(1) lookup. Empty IDs are\n// filtered so that an empty sheet on the first run does not create a\n// phantom entry.\nconst existingRowsById = new Map();\nfor (const row of existingRows) {\n  const id = String(row.ID);\n  if (id && id !== 'undefined') {\n    existingRowsById.set(id, row);\n  }\n}\n\nconst syncedAt = new Date().toISOString();\nconst results = [];\n\nfor (const product of products) {\n  const id = String(product.id);\n  const name = product.name;\n  const price = String(product.price);\n  const image = product.images && product.images.length > 0 ? product.images[0].src : '';\n\n  const existingRow = existingRowsById.get(id);\n\n  // Not in the sheet yet -> new product.\n  if (!existingRow) {\n    results.push({\n      json: {\n        ID: product.id,\n        Producto: name,\n        Precio: price,\n        Imagen: image,\n        Sincronizado: syncedAt,\n        accion: 'alta',\n        detalle: '',\n      },\n    });\n    continue;\n  }\n\n  // Already in the sheet -> compare as strings, since Google Sheets always\n  // returns text values regardless of the original WooCommerce type.\n  const existingName = existingRow.Producto !== undefined ? String(existingRow.Producto) : '';\n  const existingPrice = existingRow.Precio !== undefined ? String(existingRow.Precio) : '';\n  const existingImage = existingRow.Imagen !== undefined ? String(existingRow.Imagen) : '';\n\n  const changes = [];\n  if (existingName !== name) {\n    changes.push(`Producto \"${existingName}\" → \"${name}\"`);\n  }\n  if (existingPrice !== price) {\n    changes.push(`Precio $${existingPrice} → $${price}`);\n  }\n  if (existingImage !== image) {\n    changes.push('Imagen actualizada');\n  }\n\n  // Nothing tracked changed -> discard, do not touch the sheet or the email.\n  if (changes.length === 0) {\n    continue;\n  }\n\n  results.push({\n    json: {\n      ID: product.id,\n      Producto: name,\n      Precio: price,\n      Imagen: image,\n      Sincronizado: syncedAt,\n      accion: 'cambio',\n      detalle: changes.join('; '),\n    },\n  });\n}\n\nreturn results;\n"
      },
      "name": "Classify Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "c261e7a4-9e0a-4fc2-bcb6-c64023215d90"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "n8n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Producto": "={{ $json.Producto }}",
            "Precio": "={{ $json.Precio }}",
            "Imagen": "={{ $json.Imagen }}",
            "Sincronizado": "={{ $json.Sincronizado }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Producto",
              "displayName": "Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Precio",
              "displayName": "Precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Sincronizado",
              "displayName": "Sincronizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "name": "Append or Update Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        300
      ],
      "id": "a3632daf-2c64-46c5-94f4-03ebf3d8b155",
      "credentials": {
        "googleApi": {
          "id": "PLACEHOLDER_GOOGLE_SA_CRED_ID",
          "name": "Google Sheets - FADUA"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Group the classified items into \"alta\" (new) and \"cambio\" (updated), and\n// pre-format the subject/body pieces here so the email node only has to\n// interpolate ready-made strings.\nconst items = $('Classify Products').all().map((item) => item.json);\n\nconst nuevos = items.filter((item) => item.accion === 'alta');\nconst actualizados = items.filter((item) => item.accion === 'cambio');\n\nconst subjectParts = [];\nif (nuevos.length > 0) {\n  subjectParts.push(`${nuevos.length} nuevo${nuevos.length === 1 ? '' : 's'}`);\n}\nif (actualizados.length > 0) {\n  subjectParts.push(`${actualizados.length} actualizado${actualizados.length === 1 ? '' : 's'}`);\n}\n\nconst bodySections = [];\nif (nuevos.length > 0) {\n  const lines = nuevos.map((item) => `- ID ${item.ID}: ${item.Producto} (precio: ${item.Precio})`);\n  bodySections.push(`Nuevos:\\n${lines.join('\\n')}`);\n}\nif (actualizados.length > 0) {\n  const lines = actualizados.map((item) => `- ID ${item.ID}: ${item.Producto} — ${item.detalle}`);\n  bodySections.push(`Actualizados:\\n${lines.join('\\n')}`);\n}\n\nreturn [\n  {\n    json: {\n      countNuevos: nuevos.length,\n      countActualizados: actualizados.length,\n      subjectSummary: subjectParts.join(', '),\n      bodySummary: bodySections.join('\\n\\n'),\n    },\n  },\n];\n"
      },
      "name": "Summarize For Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "07c721cd-7753-41d3-b384-9987ece3c3ae"
    },
    {
      "parameters": {
        "fromEmail": "REPLACE_WITH_SENDER_GMAIL_ADDRESS@gmail.com",
        "toEmail": "tejada.ca23@gmail.com",
        "subject": "=[N8N] {{ $json.subjectSummary }}",
        "emailFormat": "text",
        "text": "=Sincronización de productos entre WooCommerce y Google Sheets (pestaña \"n8n\").\n\n{{ $json.bodySummary }}\n\nFecha de sincronización: {{ $now.toISO() }}\n",
        "options": {}
      },
      "name": "Send Email Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1560,
        300
      ],
      "id": "623566f1-caed-4db1-84c6-9aaf44bd0bef",
      "credentials": {
        "smtp": {
          "id": "PLACEHOLDER_SMTP_CRED_ID",
          "name": "SMTP - FADUA"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get WooCommerce Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WooCommerce Products": {
      "main": [
        [
          {
            "node": "Get Existing Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Sheet Rows": {
      "main": [
        [
          {
            "node": "Classify Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Products": {
      "main": [
        [
          {
            "node": "Append or Update Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or Update Products": {
      "main": [
        [
          {
            "node": "Summarize For Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize For Email": {
      "main": [
        [
          {
            "node": "Send Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
